@font-face{
    font-family:'icomoon';src:url("../fonts/icomoon.eot?brxjth");src:url("../fonts/icomoon.eot?#iefixbrxjth") format('embedded-opentype'),url("../fonts/icomoon.woff?brxjth") format('woff'),url("../fonts/icomoon.ttf?brxjth") format('truetype'),url("../fonts/icomoon.svg?brxjth#icomoon") format('svg');font-weight:normal;font-style:normal}

[class^="icon-"],[class*=" icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon--mail:before{content:"\f003"}
.icon--phone:before{content:"\f095"}
.icon--twitter:before{content:"\f099"}
.icon--facebook:before{content:"\f09a"}
.icon--google-plus:before{content:"\f0d5"}
.icon--linkedin:before{content:"\f0e1"}
a{text-decoration:none}

body,html{height:100%;width:100%}
body{font-family:"open sans"}
ul,li{padding:0;margin:0;}
li{list-style:none}
.u-container{height:100%;margin:0 auto;max-width:60rem;position:relative;width:100%}
.Home{overflow:hidden;text-align:center;margin:0 auto;padding:5px;padding-bottom:60px;padding-top:10px;max-width:400px;}
.home__slogan {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}
.Footer{bottom:0;position:fixed;width:100%;padding: 5px 0;background:#F7F7F7;}
.Footer-container{text-align:center}
.Footer-social{background:#000;border-radius:50px;display:inline-block;height:50px;text-align:center;width:50px;}
.Footer-social .custom-icon{color:#fff;font-size:1.5em;position:relative;top:.6em}
.Home-logoImg
	{
		width: 18rem;
	}

@media screen and (max-width: 767px) {
	.Home-logoImg
	{
		width: 10rem;
	}
	.home__slogan, .home__slogan2
	{
		font-size: 0.8rem;
	}
}